{% extends 'base.html' %}
{% block content %}

{% for message in get_flashed_messages() %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
   Hey! {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}

{% if name_to_update %}
    <h1>Update User</h1>
    <br/>
    <table class="table table-hover table-bordered table-striped">
        <tr>
            <td>{{ name_to_update.id }}. {{ name_to_update.name }}
                - {{ name_to_update.email }}
                - {{ name_to_update.favorite_color }}</td> <!-- Corrected the variable name here -->
        </tr>
    </table>

    <br/><br/>
    
    <div class="shadow p-3 mb-5 bg-body rounded">     
        <br />
        <form action="{{ url_for('update', id=name_to_update.id) }}" method="POST">
            {{ form.hidden_tag() }}   
            {{ form.name.label(class='form-label') }}
            {{ form.name(class='form-control', value=name_to_update.name) }}
            <br />
            {{ form.email.label(class='form-label') }}
            {{ form.email(class='form-control', value=name_to_update.email) }}

            {{ form.favorite_color.label(class='form-label') }}
            {{ form.favorite_color(class='form-control', value=name_to_update.favorite_color) }}
            <br />
            {{ form.submit(class='btn btn-primary') }}

            <a href="{{ url_for('delete', id=name_to_update.id) }}" class="btn btn-danger">Delete</a>
        </form>
    </div>

    <br/><br/><br/>

{% else %}
    <h1>User List:</h1>
    <br/>
    <table class="table table-hover table-bordered table-striped">
        {% for our_user in our_users %}
            <tr>
                <td>{{ our_user.id }}. {{ our_user.name }} - {{ our_user.email }}</td>
            </tr>
        {% endfor %}
    </table>

{% endif %}

{% endblock %}
